<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>user login</title>
	<link rel="shortcut icon" type="image/jpg" href="../static/img3.jpg">
	<link href="../static/login.css" rel="stylesheet">
</head>
<body>
	<header>
		
		<ul class="nav-area">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin Login</a></li>
            <li><a href="/login">User Login</a></li>
            <li><a href="/registertemp">Register</a></li>
        </ul>

	<div class="contact-form">

		<h2> User login</h2>
		<form action="/logindata" method="POST">
			<p>Username</p><input placeholder="Enter username" type="text" name="username">
			<p>Password</p><input placeholder="Enter Password" type="password" name="password">

			 <input type="submit" value="Sign in">
		</form>
        <div class="links">
           <p>Not yet registered..?? <a href="/project/templates/register.html"> Click here</a></p>
        </div>
	</div></header>
</body>
</html>
